---
layout: default
title: Mithril Company Database
---
<div class="home">
	<h1>By Race</h1>
<hr>
	<h2>Dwarf</h2>
	<ul class="posts">
		{% assign sorted = (site.tags.dwarf | sort: 'title') %}
		{% for item in sorted %}
			<li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
		{% endfor %}
	</ul>
<hr>
	<h2>Elf</h2>
	<ul class="posts">
		{% assign sorted = (site.tags.elf | sort: 'title') %}
		{% for item in sorted %}
			<li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
		{% endfor %}
	</ul>
<hr>
	<h2>Half-orc</h2>
	<ul class="posts">
		{% assign sorted = (site.tags.halforc | sort: 'title') %}
		{% for item in sorted %}
			<li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
		{% endfor %}
	</ul>
</div>