---
layout: default
title: Mithril Company Database
---
<div class="home">
	<h2>Spells</h2>
	<ul class="posts">
		{% assign sorted = (site.tags.spell | sort: 'title') %}
		{% for item in sorted %}
			<li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
		{% endfor %}
	</ul>
	<h2>Feats</h2>
	<ul class="posts">
		{% assign sorted = (site.tags.feat | sort: 'title') %}
		{% for item in sorted %}
			<li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
		{% endfor %}
	</ul>
</div>