---
layout: default
title: Mithril Company Database
---
<div class="home">
	<h1>{{ page.title }}</h1>
	<h2>Player Characters</h2>
	<ul class="posts">
	  {% for post in site.tags.pc %}
	    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
	<h2>Non-Player Characters</h2>
	<ul class="posts">
	  {% for post in site.tags.npc %}
	    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
	<h2>Items</h2>
	<ul class="posts">
	  {% for post in site.tags.item %}
	    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
	<h2>Spells</h2>
	<ul class="posts">
	  {% for post in site.tags.spell %}
	    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
	<h2>Feats</h2>
	<ul class="posts">
	  {% for post in site.tags.feat %}
	    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

</div>