<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			<h1>Mithril Hall Database</h1>
			<dl class="nav-list">
			<dd>
				<a href="/">Home</a> <b>|</b>
	        	Creatures:
				<a href="/creature">By Name</a> 
				<a href="/race.html">By Race</a> <b>|</b>
        		<a href="/item">Items</a> <b>|</b>
        		<a href="/featspell">Feats & Spells</a>
			</dd>
			</dl>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	        	<a href="http://mithrilwarhammers.com/">Mithril Warhammers</a>
			</footer>
		</body>
	</html>