<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			<h1>Mithril Hall Database</h1>
			<dl class="tag-list">
			<dt>Categories:</dt>
			{% for tag in page.tags %}
			<dd>
				<a href="{{site.baseurl}}/tags/{{tag}}.html">{{tag}}</a>
				<a href="/">Home</a>
	        	<a href="/creature">Creatures</a>
        		<a href="/item">Items</a>
        		<a href="/featspell">Feats & Spells</a>
			</dd>
			</dl>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		
	        	<a href="http://mithrilwarhammers.com/">Mithril Warhammers</a>
				
			</footer>
		</body>
	</html>
